<div class="container">
  <div class="f2h-prod-list-heading-container">
    <h3 class="f2h-prod-list-heading">Category 1</h3>
    <button mdbBtn type="button" class="btn-success f2h-prod-list-sort" size="sm">Sort</button>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/Capture.JPG" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/Capture.JPG" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/Capture.JPG" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/Capture.JPG" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/Capture.JPG" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/Capture.JPG" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/Capture.JPG" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/Capture.JPG" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand">
        <img alt="example" src="assets/Capture.JPG" class="" />
      </div>
      <div class="mdl-card__supporting-text">
        Brand
        Name
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>
  </div>
</div>
