# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/F2H.Web/node_modules
/F2H.Web/dist
/F2H.Web/tmp
/F2H.Web/out-tsc
/F2H.Web/obj
/F2H.Web/package-lock.json

/F2H.WebApi/obj
/F2H.WebApi/bin

/F2H.Models/obj
/F2H.Models/bin

/F2H.Core/obj
/F2H.Core/bin

/F2H.DataAccess/obj
/F2H.DataAccess/bin

/F2H.Interfaces/obj
/F2H.Interfaces/bin

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - VS
/.vs

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
