<div class="container">
  <mdb-breadcrumb customClass="black-text purple lighten-4">
    <mdb-breadcrumb-item>
      <mdb-icon icon="angle-right" class="mr-1"></mdb-icon> Home
    </mdb-breadcrumb-item>
    <mdb-breadcrumb-item>
      <mdb-icon icon="angle-right" class="mr-1"></mdb-icon> Library
    </mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">
      <mdb-icon icon="angle-right" class="mr-1"></mdb-icon> Data
    </mdb-breadcrumb-item>
  </mdb-breadcrumb>

  <div class="mdl-grid border mb-4">
    <div class="mdl-cell mdl-cell--6-col border-right">
      Product Image
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      Product Details
    </div>
  </div>
</div>
