<div class="container">
  <mdb-breadcrumb customClass="black-text purple lighten-4">
    <mdb-breadcrumb-item>
      <mdb-icon icon="angle-right" class="mr-1"></mdb-icon> Home
    </mdb-breadcrumb-item>
    <mdb-breadcrumb-item>
      <mdb-icon icon="angle-right" class="mr-1"></mdb-icon> Library
    </mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">
      <mdb-icon icon="angle-right" class="mr-1"></mdb-icon> Data
    </mdb-breadcrumb-item>
  </mdb-breadcrumb>

  <div class="mdl-grid mb-4">
    <div class="mdl-cell mdl-cell--6-col">
      <img src="assets/detail.jpg" class="f2h-prod-image" alt="some image">
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <h3>Kodak 'Brownie' Flash B Camera</h3>
      <div>
        <ul class="f2h-rating">
          <li>
            <fa-icon [icon]="['fas', 'star']"></fa-icon>
          </li>
          <li>
            <fa-icon [icon]="['fas', 'star']"></fa-icon>
          </li>
          <li>
            <fa-icon [icon]="['fas', 'star']"></fa-icon>
          </li>
          <li>
            <fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>
          </li>
          <li>
            <fa-icon [icon]="['far', 'star']"></fa-icon>
          </li>
        </ul>
      </div>
      <hr />
      <h4>Rs. 500</h4>
      <div>
        <p>
          Sattur Kara Sevu comes from a small town sattur in virudhunagar district of Tamilnadu. Made from  Channa dal flour, rice flour,garlic, chillies, cumin seeds, pepper seeds into a thick dough and then fried in oil using murukku  moulds.. Its so crispy that it will become your all time favourite tea snack.
        </p>
      </div>
      <hr />
      <button routerLink="/view-cart" mdbBtn type="button" class="btn-success" size="sm">Add to Cart</button>
    </div>
  </div>
</div>
