<div class="swiper-container" [swiper]="sliderConfig">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="assets/road220058.jpg" class="f2h-slide-image">
    </div>
    <div class="swiper-slide">
      <img src="assets/road220058.jpg" class="f2h-slide-image">
    </div>
    <div class="swiper-slide">
      <img src="assets/road220058.jpg" class="f2h-slide-image">
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>


<div class="f2h-home-category-container">
  <div class="f2h-home-category-heading">
    <h3 class="f2h-cat-heading">Category 1</h3>
    <button routerLink="/product-list" mdbBtn type="button" class="f2h-cat-viewall btn-success" size="sm">View all</button>
  </div>
 
  <div class="demo-card-square mdl-card mdl-shadow--2dp f2h-card-item">
    <div class="mdl-card--expand">
      <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" class="f2h-card-item-image" />
    </div>
    <div class="mdl-card__supporting-text">
      Brand
      Name
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        View Updates
      </a>
    </div>
  </div>
  
  <div class="demo-card-square mdl-card mdl-shadow--2dp f2h-card-item">
    <div class="mdl-card--expand">
      <img alt="example" src="assets/Capture.JPG" class="f2h-card-item-image" />
    </div>
    <div class="mdl-card__supporting-text">
      Brand
      Name
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        View Updates
      </a>
    </div>
  </div>
  
  <div class="demo-card-square mdl-card mdl-shadow--2dp f2h-card-item">
    <div class="mdl-card--expand">
      <img alt="example" src="assets/download.jpg" class="f2h-card-item-image" />
    </div>
    <div class="mdl-card__supporting-text">
      Brand
      Name
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        View Updates
      </a>
    </div>
  </div>

  <div class="demo-card-square mdl-card mdl-shadow--2dp f2h-card-item">
    <div class="mdl-card--expand">
      <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" class="f2h-card-item-image" />
    </div>
    <div class="mdl-card__supporting-text">
      Brand
      Name
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        View Updates
      </a>
    </div>
  </div>
  
  <div class="demo-card-square mdl-card mdl-shadow--2dp f2h-card-item">
    <div class="mdl-card--expand">
      <img alt="example" src="assets/Capture.JPG" class="f2h-card-item-image" />
    </div>
    <div class="mdl-card__supporting-text">
      Brand
      Name
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        View Updates
      </a>
    </div>
  </div>
  
  <div class="demo-card-square mdl-card mdl-shadow--2dp f2h-card-item">
    <div class="mdl-card--expand">
      <img alt="example" src="assets/download.jpg" class="f2h-card-item-image" />
    </div>
    <div class="mdl-card__supporting-text">
      Brand
      Name
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        View Updates
      </a>
    </div>
  </div>
  
</div>

<div class="f2h-home-category-container">
  <div class="f2h-home-category-heading">
    <h3 class="f2h-cat-heading">Category 2</h3>
    <button mdbBtn routerLink="/product-list" type="button" class="f2h-cat-viewall btn-success" size="sm" mdbWavesEffect>View all</button>
  </div>
  <div class="demo-card-square mdl-card mdl-shadow--2dp f2h-card-item">
    <div class="mdl-card--expand">
      <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" class="f2h-card-item-image" />
    </div>
    <div class="mdl-card__supporting-text">
      Brand
      Name
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        View Updates
      </a>
    </div>
  </div>
  
  <div class="demo-card-square mdl-card mdl-shadow--2dp f2h-card-item">
    <div class="mdl-card--expand">
      <img alt="example" src="assets/Capture.JPG" class="f2h-card-item-image" />
    </div>
    <div class="mdl-card__supporting-text">
      Brand
      Name
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        View Updates
      </a>
    </div>
  </div>
  
  <div class="demo-card-square mdl-card mdl-shadow--2dp f2h-card-item">
    <div class="mdl-card--expand">
      <img alt="example" src="assets/download.jpg" class="f2h-card-item-image" />
    </div>
    <div class="mdl-card__supporting-text">
      Brand
      Name
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        View Updates
      </a>
    </div>
  </div>

  <div class="demo-card-square mdl-card mdl-shadow--2dp f2h-card-item">
    <div class="mdl-card--expand">
      <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" class="f2h-card-item-image" />
    </div>
    <div class="mdl-card__supporting-text">
      Brand
      Name
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        View Updates
      </a>
    </div>
  </div>
  
  <div class="demo-card-square mdl-card mdl-shadow--2dp f2h-card-item">
    <div class="mdl-card--expand">
      <img alt="example" src="assets/Capture.JPG" class="f2h-card-item-image" />
    </div>
    <div class="mdl-card__supporting-text">
      Brand
      Name
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        View Updates
      </a>
    </div>
  </div>
  
  <div class="demo-card-square mdl-card mdl-shadow--2dp f2h-card-item">
    <div class="mdl-card--expand">
      <img alt="example" src="assets/download.jpg" class="f2h-card-item-image" />
    </div>
    <div class="mdl-card__supporting-text">
      Brand
      Name
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        View Updates
      </a>
    </div>
  </div>

</div>
