<div class="swiper-container" [swiper]="sliderConfig">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="assets/road220058.jpg" class="f2h-slide-image">
    </div>
    <div class="swiper-slide">
      <img src="assets/road220058.jpg" class="f2h-slide-image">
    </div>
    <div class="swiper-slide">
      <img src="assets/road220058.jpg" class="f2h-slide-image">
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>


<div class="f2h-home-category-container">
  <div class="f2h-home-category-heading">
    <h3 class="f2h-cat-heading">Category 1</h3>
    <button mdbBtn type="button" class="f2h-cat-viewall btn-success" size="sm" mdbWavesEffect>View all</button>
  </div>
  <nz-card class="f2h-card-item" [nzCover]="coverTemplate1" [nzActions]="[actionSetting1, actionEdit1, actionEllipsis1]">
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate1>
    <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" />
  </ng-template>
  <ng-template #actionSetting1>
    <i nz-icon type="setting"></i>
  </ng-template>
  <ng-template #actionEdit1>
    <i nz-icon type="edit"></i>
  </ng-template>
  <ng-template #actionEllipsis1>
    <i nz-icon type="ellipsis"></i>
  </ng-template>
  <nz-card class="f2h-card-item" [nzCover]="coverTemplate2" [nzActions]="[actionSetting2, actionEdit2, actionEllipsis2]">
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate2>
    <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" />
  </ng-template>
  <ng-template #actionSetting2>
    <i nz-icon type="setting"></i>
  </ng-template>
  <ng-template #actionEdit2>
    <i nz-icon type="edit"></i>
  </ng-template>
  <ng-template #actionEllipsis2>
    <i nz-icon type="ellipsis"></i>
  </ng-template>
  <nz-card class="f2h-card-item" [nzCover]="coverTemplate3" [nzActions]="[actionSetting3, actionEdit3, actionEllipsis3]">
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate3>
    <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" />
  </ng-template>
  <ng-template #actionSetting3>
    <i nz-icon type="setting"></i>
  </ng-template>
  <ng-template #actionEdit3>
    <i nz-icon type="edit"></i>
  </ng-template>
  <ng-template #actionEllipsis3>
    <i nz-icon type="ellipsis"></i>
  </ng-template>
  <nz-card class="f2h-card-item" [nzCover]="coverTemplate4" [nzActions]="[actionSetting4, actionEdit4, actionEllipsis4]">
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate4>
    <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" />
  </ng-template>
  <ng-template #actionSetting4>
    <i nz-icon type="setting"></i>
  </ng-template>
  <ng-template #actionEdit4>
    <i nz-icon type="edit"></i>
  </ng-template>
  <ng-template #actionEllipsis4>
    <i nz-icon type="ellipsis"></i>
  </ng-template>
  <nz-card class="f2h-card-item" [nzCover]="coverTemplate5" [nzActions]="[actionSetting5, actionEdit5, actionEllipsis5]">
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate5>
    <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" />
  </ng-template>
  <ng-template #actionSetting5>
    <i nz-icon type="setting"></i>
  </ng-template>
  <ng-template #actionEdit5>
    <i nz-icon type="edit"></i>
  </ng-template>
  <ng-template #actionEllipsis5>
    <i nz-icon type="ellipsis"></i>
  </ng-template>
  <nz-card class="f2h-card-item" [nzCover]="coverTemplate6" [nzActions]="[actionSetting6, actionEdit6, actionEllipsis6]">
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate6>
    <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" />
  </ng-template>
  <ng-template #actionSetting6>
    <i nz-icon type="setting"></i>
  </ng-template>
  <ng-template #actionEdit6>
    <i nz-icon type="edit"></i>
  </ng-template>
  <ng-template #actionEllipsis6>
    <i nz-icon type="ellipsis"></i>
  </ng-template>
</div>
<div class="f2h-home-category-container">
  <div class="f2h-home-category-heading">
    <h3 class="f2h-cat-heading">Category 2</h3>
    <button mdbBtn type="button" gradient="peach" class="f2h-cat-viewall" size="sm" mdbWavesEffect>View all</button>
  </div>

  <nz-card class="f2h-card-item" [nzCover]="coverTemplate11" [nzActions]="[actionSetting11, actionEdit11, actionEllipsis11]">
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate11>
    <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" />
  </ng-template>
  <ng-template #actionSetting11>
    <i nz-icon type="setting"></i>
  </ng-template>
  <ng-template #actionEdit11>
    <i nz-icon type="edit"></i>
  </ng-template>
  <ng-template #actionEllipsis11>
    <i nz-icon type="ellipsis"></i>
  </ng-template>

  <nz-card class="f2h-card-item" [nzCover]="coverTemplate12" [nzActions]="[actionSetting12, actionEdit12, actionEllipsis12]">
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate12>
    <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" />
  </ng-template>
  <ng-template #actionSetting12>
    <i nz-icon type="setting"></i>
  </ng-template>
  <ng-template #actionEdit12>
    <i nz-icon type="edit"></i>
  </ng-template>
  <ng-template #actionEllipsis12>
    <i nz-icon type="ellipsis"></i>
  </ng-template>

  <nz-card class="f2h-card-item" [nzCover]="coverTemplate13" [nzActions]="[actionSetting13, actionEdit13, actionEllipsis13]">
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate13>
    <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" />
  </ng-template>
  <ng-template #actionSetting13>
    <i nz-icon type="setting"></i>
  </ng-template>
  <ng-template #actionEdit13>
    <i nz-icon type="edit"></i>
  </ng-template>
  <ng-template #actionEllipsis13>
    <i nz-icon type="ellipsis"></i>
  </ng-template>

  <nz-card class="f2h-card-item" [nzCover]="coverTemplate14" [nzActions]="[actionSetting14, actionEdit14, actionEllipsis14]">
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate14>
    <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" />
  </ng-template>
  <ng-template #actionSetting14>
    <i nz-icon type="setting"></i>
  </ng-template>
  <ng-template #actionEdit14>
    <i nz-icon type="edit"></i>
  </ng-template>
  <ng-template #actionEllipsis14>
    <i nz-icon type="ellipsis"></i>
  </ng-template>

  <nz-card class="f2h-card-item" [nzCover]="coverTemplate15" [nzActions]="[actionSetting15, actionEdit15, actionEllipsis15]">
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate15>
    <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" />
  </ng-template>
  <ng-template #actionSetting15>
    <i nz-icon type="setting"></i>
  </ng-template>
  <ng-template #actionEdit15>
    <i nz-icon type="edit"></i>
  </ng-template>
  <ng-template #actionEllipsis15>
    <i nz-icon type="ellipsis"></i>
  </ng-template>

  <nz-card class="f2h-card-item" [nzCover]="coverTemplate16" [nzActions]="[actionSetting16, actionEdit16, actionEllipsis16]">
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate16>
    <img alt="example" src="assets/JiqGstEfoWAOHiTxclqi.png" />
  </ng-template>
  <ng-template #actionSetting16>
    <i nz-icon type="setting"></i>
  </ng-template>
  <ng-template #actionEdit16>
    <i nz-icon type="edit"></i>
  </ng-template>
  <ng-template #actionEllipsis16>
    <i nz-icon type="ellipsis"></i>
  </ng-template>
</div>
