<div class="container">
  <h4>
    Cart Details
  </h4>
  <hr />

  <div class="f2h-cart-container">
    <div class="f2h-cart-item">
      <div class="f2h-cart-container2">
        <div class="f2h-cart-item2">image</div>
        <div class="f2h-cart-item3">content</div>
        <div class="f2h-cart-item4">price</div>
      </div>
    </div>
    <div class="f2h-cart-item">
      <div class="f2h-cart-container2">
        <div class="f2h-cart-item2">image</div>
        <div class="f2h-cart-item3">content</div>
        <div class="f2h-cart-item4">price</div>
      </div>
    </div>
    <div class="f2h-cart-item">
      <div class="f2h-cart-container2">
        <div class="f2h-cart-item2">image</div>
        <div class="f2h-cart-item3">content</div>
        <div class="f2h-cart-item4">price</div>
      </div>
    </div>
    <div class="f2h-cart-item">
      <div class="f2h-cart-container2">
        <div class="f2h-cart-item2">image</div>
        <div class="f2h-cart-item3">content</div>
        <div class="f2h-cart-item4">price</div>
      </div>
    </div>
    <div class="f2h-cart-item">
      <div class="f2h-cart-container2">
        <div class="f2h-cart-item2">image</div>
        <div class="f2h-cart-item3">content</div>
        <div class="f2h-cart-item4">price</div>
      </div>
    </div>
  </div>

  <div>
    <ul class="list-unstyled">
      <li>
        <span>Sub Total: 500.00</span>
      </li>
      <li>
        <span>SGST (2.5%): 25.00</span>
      </li>
      <li>
        <span>CGST (2.5%): 25.00</span>
      </li>
      <li>
        <span>Transport Charge: 120.00</span>
      </li>
      <li>
        <span>Final: 670.00</span>
      </li>
    </ul>
  </div>

  <button routerLink="/checkout" mdbBtn type="button" class="f2h-cat-viewall btn-success" size="sm">Checkout</button>

  <br />
  <br />
</div>
