.form-inline {
  display: inline-block
}


.f2h-search {
  margin: 6px 0 0 20px;
  width: 400px;
}

/*// Upto Small screen
@media (max-width:340px) {
  .f2h-card-item {
    width: 120px;
    margin-right: 10px;
    margin-top: 10px;
  }
}

// From: Small screen To: Medium screen
@media (min-width:341px) and (max-width:600px) {
  .f2h-card-item {
    width: 140px;
  }
}

// From: Medium screen To: Big screen
@media (min-width:601px) and (max-width: 1550px) {
  .f2h-card-item {
    width: 200px;
  }
}

// On bigger Screen
@media (min-width:1551px) {
  .f2h-card-item {
    width: 280px;
  }
}*/
